td{
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-color: #b224ef;
}

.top-bar{
    height: 30px;
    top:0;
    background: #b224ef;
}

li{
    padding-bottom: 30px;
    cursor: pointer;
}